<div class="block">
  <%= render :partial => 'secondary_navigation', :locals => { :klass => 'new' } %>
  <div class="content">            
    <h2 class="title"><%= t("web-app-theme.new", :default => "New")%>  Rent</h2>
    <div class="inner">
      <%= form_for :rent, :url => rents_path, :html => { :class => :form } do |f| -%>
        <%= render :partial => "form", :locals => {:f => f} %>
      <% end -%>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'shared/sidebar') -%>